.container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 0 150px;
}

.container .logo {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.container .telzir {
    font-family: 'Questrial', sans-serif;
    font-size: 50px;
}

.container .headerLinks {
    display: flex;
}

.container .headerLinks p {
    font-size: 15px;
    margin-right: 25px;
    font-weight: 500;
}

@media only screen and (max-width: 850px) {
    .container {
        padding: 0 30px 0 30px;
    }

    .container .headerLinks {
        flex-direction: column;
    }

    .container .headerLinks p {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
